{% extends 'base.html' %}
{% block content %}
  <div class="skew">
    <div class="content-area top-left">
      <h1>Two Photos</h1>
      <h2>Brooklyn Street at Night</h2>
      <p>I walked home from the grocery store one night and suddenly felt like I was in a new place. The puddle and the lights and the mostly empty street with metal fences on the left created a scene that I had never before seen despite this being the 100th or more time that I had walked this route.</p>
    </div>
    <div class="bg-image top-right"></div>
    <div class="bg-image bottom-left"></div>
    <div class="content-area bottom-right">
      <h2>Parking Garage</h2>
      <p>A romantic walk on the (seemingly) deserted Roosevelt Island in the East River, led us to this empty parking garage entrance. Steam emanated from a nearby vent creating a moody atmosphere.</p>
    </div>
  </div>
{% endblock %}
