{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Oasis Virtual</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/more_games.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>

  <body>
    <section class="nav">
      <h1 id="home" style="cursor: pointer;">OASIS VIRTUAL</h1>
      <script>
        document.querySelector('h1').onclick = sectionNavegate
      </script>

      <h3 class="span loader"><span class="m">TU</span><span class="m">ESCAPE</span><span class="m">DE</span><span class="m">LA</span><span class="m">REALIDAD</span></h3>
      <div class="nav-container">
        <a class="nav-tab" href="{% url 'index' %}#about-us">ACERCA DE NOSOTROS</a>
        <a class="nav-tab" href="{% url 'index' %}#game">JUEGOS</a>
        <a class="nav-tab" href="{% url 'more_games' %}#moregames">MAS JUEGOS</a>
        {% if log != 1 %}
          <a class="nav-tab" href="{% url 'register' %}#register">REGISTRARSE</a>
          <a class="nav-tab" href="{% url 'log_in' %}#login">INICIAR SESION</a>
        {% else %}
          <a class="nav-tab" href="{% url 'close_sesion' %}">SALIR</a>
        {% endif %}
        <span class="nav-tab-slider"></span>
      </div>
    </section>

    {% block content %}

    {% endblock %}
    <script src="{% static 'js/tab_section.js' %}"></script>
    <script src="{% static 'js/details.js' %}"></script>
    <script src="{% static 'js/more_games.js' %}"></script>
    <script src="{% static 'js/function.js' %}"></script>
    <script>
      const h1 = document.getElementById('home')
      
      h1.addEventListener('click', function () {
        window.location.href = '{% url "index" %}'
      })
    </script>
  </body>
</html>
