{% extends 'base.html' %}

{% block content %}
  <section id="register">
    <div class="container-register">
      <div class="login-form-register">
        <h2 class="h2">Registrarse</h2>
        <form action="#">
          <div class="input-group-register">
            <label class="label-register" for="name">Nombre:</label>
            <input class="input-register" type="text" id="name" name="name" required />
          </div>
          <div class="input-group-register">
            <label class="label-register" for="email">Correo electronico:</label>
            <input class="input-register" type="email" id="email" name="email" required />
          </div>

          <div class="input-group-register">
            <label class="label-register" for="password">Contraseña:</label>
            <input class="input-register" type="password" id="password" name="password" required />
          </div>
          <div class="checkbox-group-register">
            <input class="input-register" type="checkbox" id="remember-me" name="remember-me" />
            <label class="label-register" for="remember-me">Mostrar contraseña</label>
          </div>
          <button class="button-register" type="submit">Registrarse</button>
        </form>
        <p class="p-register">
          ¿Ya tienes una cuenta? <a class="a-register" href="{% url 'log_in' %}#login">Iniciar sesión</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}
