{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="slider" id="about-us">
    <h1>ACERCA DE NOSOTROS</h1>

    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt doloribus consequuntur ut magnam, modi asperiores vitae nesciunt veniam quam temporibus expedita molestias voluptas ipsam deserunt cum minus enim dolore fuga.</h2>
  </section>
  <section class="slider" id="game">
    <h1>JUEGOS</h1>
    <div class="grid-container">
      {% for steamid, img in listas %}
        <div class="grid-item">
          <form action="{% url 'details_games' %}#game" method="POST">
            {% csrf_token %}
            <button class="button-juego" type="submit"><img src="{{ img }}" alt="" /></button>
            <input type="hidden" name="steamid" value="{{ steamid }}" />
          </form>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
